.header{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    position: absolute;
    z-index: 1;
}

.img-logo{
    width: 153.62px;
    height: 32px;
}

.img-search{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    color: #ffffff;
}

.navbar-menu{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100vh; 
    height: 60px;
}
.navbar p{
    cursor: pointer;
}