.content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100vh;   
}
.content-movies-or-series{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 32px;
    margin: 0px 0px 20px 50px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 1.817);
}

.content-movies-or-series h1{
    color: #ffffffe8 ;
    font-size: 12px;
    font-weight: 400;
}

.content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #000000);
    z-index: -1;
}
.container-movie-list{
    display: flex;
    flex-direction: row;
    width: 5000px;
}
.content-movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* impede que os itens sejam quebrados em várias linhas */
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    width: 105rem;
    height: 500px;
    margin: 20px 0px 0px 0px;
    overflow-x: hidden; /* esconde os filmes que excedem a largura do contêiner */
    scroll-behavior: smooth; /* faz a rolagem ser suave */
}

.arrow {
    position: absolute;
    z-index: 1;
    top: 510%;
    background-color: transparent;
    border: 0;
    padding: 10px;
    cursor: pointer;    
}

#arrow-left {
    width: 32px;
    height: 32px;
    left: 10px;
    background-image: url(../../images/arrow.png);
    transform: rotate(180deg);
}

#arrow-right {
    width: 32px;
    height: 32px;
    right: 70px;
    background-image: url(../../images/arrow.png);
}

.content-sections{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 2;
}

/* .img-folder-film{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    max-height: 55vh;
} */

.content-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vh;
    height: 50px;
    margin: 0px 0px 15px 50px;
   
}

.content-details p{
    margin: 10px 0px 10px 0px;
    position: relative;
    z-index: 2;
    font-size: 12px;
}

.content-details h1{
    position: relative;
    z-index: 2;
    font-size: 20px;
}

.content-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 62vh;
    height: 50px;
    margin: 10px 0px 0px 50px;
    position: relative;
    z-index: 2;
}

.button-trailer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 46px;
    background-color: #00925D;
    border: 0;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.button-favorite{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 46px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.button-like{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 46px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.content-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    margin: 10px 0px 0px 50px;
    position: relative;
    z-index: 2;
    color: #aba4a4;
}
.content-description h2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vh;
    height: 50px;
    position: relative;
    z-index: 2;
    color: #ffffff;
}

.content-description h2{
    font-size: 14px;
    margin-top: 30px;
}
.content-description p{
    font-size: 12px;
    margin-top: 10px;
}
.content-actors{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100vh;
    height: 50px;
    margin: 50px 0px 0px 50px;
    position: relative;
    z-index: 2;
}
.content-actors h2{
    display: flex;
    font-size: 14px;
    margin: 0px 0px 10px 0px
}
.content-actors span{
    display: flex;
    font-size: 12px;
}
.photos-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.photos-container p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    margin: 0;
    text-align: left;
    font-size: 11px;
}

.round-photo{
    border-radius: 50%;
    width: 75px;
    height: 90px;
    object-fit: cover; 
}
.content-hr{
    border: none;
    border-top: 1px solid #181616;
    width:100%;
    margin-top: 105px;
    position: relative;
    z-index: 2;
}

.content-movies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    margin: 20px 0px 0px 50px;
    position: relative;
    z-index: 2;
}

.content-movies h1{
    display: flex;
    width: 100vh;
    font-size: 16px;
}
.content-movies h2{
    display: flex;
    font-size: 14px;
    margin: 15px 0px 0px 0px;
}
.content-movies span{
    display: flex;
    font-size: 12px;
}
.content-movie-info{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70vh;
    height: 20px;
    margin-top: 5px;
}
.card-movie{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 295px;
    height: 416px;
}
.img-card-movie{
    display: flex;
    width: 280px;
    height: 416px;
    border-radius: 10px;
}
.content-movie-genresVote{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 20px;
    align-content: center;
    flex-wrap: wrap;
    font-size: 10px;
}
.img-star{
    display: flex;
    width: 20px;
    height: 20px;
    padding-right: 5px;
}
